spring:
  config:
    activate:
      on-profile: prod

  liquibase:
      change-log: classpath:db/changelog/db.changelog-master.yaml

  jpa:
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect

  datasource:
    url: jdbc:postgresql://localhost:5432/bookride
    driver-class-name: org.postgresql.Driver
    username: 
    password: 